[submodule "third-party/mozart"]
	path = third-party/mozart
	url = https://github.com/covariant-institute/mozart
[submodule "third-party/curl"]
	path = third-party/curl
	url = https://github.com/curl/curl.git
[submodule "third-party/jsoncpp"]
	path = third-party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
